.top-menu {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100px;
  gap: 8px;
  background-color: #FFFFFF;
  color: #505050;
}

.new-entry {
  display: flex;
  gap: 8px;
  align-items: center;
  height: 48px;
  color: #fff;
  background-color: #9EC137;
  padding: 0 24px 0 16px;
  border-radius: 28px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
}

.profile-dropdown {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #F6F6F4;
  height: 48px;
  border-radius: 24px;
  padding: 0 16px 0 8px;
}

.profile-picture {
  height: 40px;
}

.profile-name {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  color: #505050;
}

.bell {
  height: 48px;
  width: 48px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  background-color: #f6f6f4;
  justify-content: center;
}